<br>

<div class=" row">
        <div class="col-md-1"></div>
    <div class="col-md-2">
        <div class="bg-dark text-center">
            <br>
            <div *ngIf="usuario.userimage;else elseUserImage" >
               <img src="usuario.userimage" class="border border-secondary rounded-circle p-1 mb-4  shadow-lg bg-warning" style="width: 200px; height: 200px;" alt="...">
            </div>
            <ng-template #elseUserImage>
               <img src="https://i.imgur.com/fnXfOZB.jpg" class="border border-secondary rounded-circle p-1 mb-4  shadow-lg bg-warning" style="width: 200px; height: 200px;" alt="...">
            </ng-template>
            <br><br>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="perfil" class="text-warning text-center">{{usuario.username}}</a></h5>            
                    <h6><b>Rank: <!--i class="fa fa-arrow-right text-secondary"></i--></b>&nbsp;
                    <a href="desafios#kawaii" *ngIf="usuario.rank==1" class="badge badge-pill badge-primary">Rank 01</a>
                    <a href="desafios#fanboy-shounen" *ngIf="usuario.rank==2" class="badge badge-pill badge-info">Rank 02</a>
                    <a href="desafios#otaku-fedido" *ngIf="usuario.rank==3" class="badge badge-pill badge-success">Rank 03</a>
                    <a href="desafios#2d-lover" *ngIf="usuario.rank==4" class="badge badge-pill badge-warning">Rank 04</a>
                    <a href="desafios#hikikomori" *ngIf="usuario.rank==5" class="badge badge-pill badge-danger">Rank 05</a></h6>
                    <div class="card-text"><b class="text-secondary text-center">
                    <div *ngIf="usuario.twitter">
                    <a class="btn btn-primary btn-circle btn-lg" href="https://www.twitter.com/{{usuario.twitter}}" target="_blank"><i class="fa fa-twitter"></i>
                    </a>&nbsp;</div>
                    <div *ngIf="usuario.instagram">
                    <a class="btn btn-danger btn-circle btn-lg" href="https://www.instagram.com/{{usuario.instagram}}" target="_blank"><i class="fa fa-instagram"></i>
                    </a>&nbsp;</div>
                    <div *ngIf="usuario.facebook">
                    <a class="btn btn-info btn-circle btn-lg" href="https://www.facebook.com/{{usuario.facebook}}" target="_blank"><i class="fa fa-facebook"></i>
                    </a>&nbsp;</div>
                    </b>
                  <div *ngIf="usuario.mal_list">
                    <br><br>
                  <a class="btn btn-warning" href="https://www.myanimelist.com/profile/{{usuario.mal_list}}" target="_blank">External List
                    </a>&nbsp;</div>
                </div>
               
                <circle-progress
                  [percent]="progress"
                  [radius]="5"
                  [outerStrokeWidth]="1"
                  [innerStrokeWidth]="1"
                  [space] = "-1"
                  [outerStrokeColor]="color"
                  [innerStrokeColor]="'#e7e8ea'"
                  [titleFontSize]= "2"
                  [unitsFontSize]= "2"
                  [showSubtitle] = "false"
                  [animation]="true"
                  [animationDuration]="300"
                  [startFromZero]="false"
                  [responsive]="true"
                ></circle-progress>

            </div>
        </div>
    </div>
    <div class="col-md-8 ">

        <ngb-tabset>
            <ngb-tab title="Rank 01">
                <ng-template ngbTabContent>
                    <app-add-anime-dropdown></app-add-anime-dropdown>
                    <table class="table table-striped table-light">
                        <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Serie</th>
                        <th scope="col">Desafio</th>
                        <th scope="col">Episódios</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let desafio of usuario.desafio; index as i">
                          <ng-container *ngIf="desafio.rank==1">
                        <tr *ngFor="let serie of desafio.list">
                        <th scope="row">{{ serie.mal_id }}</th>
                        <td>
                            {{serie.name}}
                        </td>
                        <td>{{ serie.studio }}</td>
                        <td>{{ serie.season }}</td>
                        </tr>
                          </ng-container>
                        </tbody>
                    </table>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="Rank 02" [disabled]="usuario.rank<2">
                <ng-template ngbTabContent> 
                    <app-add-anime-dropdown></app-add-anime-dropdown>
                <table class="table table-striped table-light">
                    <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Serie</th>
                    <th scope="col">Desafio</th>
                    <th scope="col">Episódios</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let country of countries; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                        {{ country.name }}
                    </td>
                    <td>{{ country.area | number }}</td>
                    <td>{{ country.population | number }}</td>
                    </tr>
                    </tbody>
                </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Rank 03" [disabled]="usuario.rank<3">
                <ng-template ngbTabContent>
                <app-add-anime-dropdown></app-add-anime-dropdown>
                <table class="table table-striped table-light">
                        <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Serie</th>
                        <th scope="col">Desafio</th>
                        <th scope="col">Episódios</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let country of countries; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                            {{ country.name }}
                        </td>
                        <td>{{ country.area | number }}</td>
                        <td>{{ country.population | number }}</td>
                        </tr>
                        </tbody>
                </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Rank 04" [disabled]="usuario.rank<4">
                <ng-template ngbTabContent>
                    <app-add-anime-dropdown></app-add-anime-dropdown>
                    <table class="table table-striped table-light">
                            <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Serie</th>
                            <th scope="col">Desafio</th>
                            <th scope="col">Episódios</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let country of countries; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>
                                <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                                {{ country.name }}
                            </td>
                            <td>{{ country.area | number }}</td>
                            <td>{{ country.population | number }}</td>
                            </tr>
                            </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Rank 05" [disabled]="usuario.rank<5">
                <ng-template ngbTabContent>
                    <app-add-anime-dropdown></app-add-anime-dropdown>
                    <table class="table table-striped table-light">
                            <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Serie</th>
                            <th scope="col">Desafio</th>
                            <th scope="col">Episódios</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let country of countries; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>
                                <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                                {{ country.name }}
                            </td>
                            <td>{{ country.area | number }}</td>
                            <td>{{ country.population | number }}</td>
                            </tr>
                            </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
<br>
