<ngb-carousel *ngIf="images" class="content-center">
        <ng-template ngbSlide>  
            <div class="card mb-2 bg-primary text-dark container text-center">
                    <h2 class="card-header text-light" style="font-family: ezequiel;">Kawaii Rank</h2>
                    <img [src]="images[0]" class="card-img img-fluid rounded mx-auto d-block" alt="...">
                    <div class="card-body text-justify">
                        <p class="card-text">É aqui o começo de tudo! Para o passo iniciar em grande estilo, você deve assistir 25 animes, sendo 13 de 
                            um desafio e 12 de outro ou optar pelo desafio "animes de A a Z", com a opção de ignorar uma letra.</p>
                    </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>  
            <div class="card mb-3 bg-info">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img [src]="images[1]" class="card-img rounded-circle" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>  
            <div class="card mb-3 bg-success">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img [src]="images[2]" class="card-img rounded-circle" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>  
                <div class="card mb-3 bg-warning">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img [src]="images[3]" class="card-img rounded-circle" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>  
                    <div class="card mb-3 bg-danger">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                            <img [src]="images[4]" class="card-img rounded-circle" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
      </ngb-carousel>