<br>
<div class="container">
  <div class="h3">MAL RANK</div>
  <div class="row">
    <div class=" text-left col-8"><b>{{classificacao}}</b></div>
    <div class="col-4 text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Classificação</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="onClickClassificacao()">Classificação Geral</button>
          <button ngbDropdownItem (click)="onClickDesafioA()">Desafio A</button>
          <button ngbDropdownItem (click)="onClickDesafioB()"> Desafio B</button>
        </div>
      </div>
    </div>
  </div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Episodios</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody *ngFor="let anime of listAnime; let i = index">
    <tr>
      <th scope="row" *ngIf="i==0">1</th>
      <th scope="row" *ngIf="i==1">2</th>
      <th scope="row" *ngIf="i==2">3</th>
      <th scope="row" *ngIf="i>2">{{i+1}}</th>
      <td>{{anime.name}}</td>
      <td>{{anime.episodes}}</td>
      <td>{{anime.score}}</td>
    </tr>
  </tbody>
</table>
</div>