<div class="container">
    <br>
    <h1 class="text-warning text-center">REGRAS DO DESAFIO</h1>
    <br><br>
    <div *ngFor="let user of usuario">
    {{user.id}} - {{user.username}}
    </div>
    <div class="row">
        <div class="col-sm-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices vel arcu convallis auctor. Maecenas sit amet lorem velit. Suspendisse ut metus euismod, vulputate ligula imperdiet, mollis neque. Praesent blandit, lectus sit amet varius eleifend, dolor quam rhoncus purus, sit amet auctor ipsum felis quis mi. Aliquam quam urna, maximus sit amet molestie sit amet, faucibus vel magna. Praesent non laoreet orci. Etiam aliquam vel ipsum eget elementum.

                Donec fringilla nunc turpis, vel suscipit augue rhoncus ut. Mauris interdum semper risus, sed tristique risus facilisis sodales. Fusce ut facilisis lacus. Cras laoreet posuere nulla, et efficitur felis maximus in. Morbi cursus metus lacus, vitae convallis nisi sodales eget. Nunc fermentum posuere nisl in maximus. Aenean consequat in elit eget sodales. Praesent ac aliquet urna. Praesent nec sagittis sapien, nec interdum nunc. Etiam ullamcorper mollis diam, in convallis leo blandit non.
                
                Vestibulum porta eros vel justo ultrices feugiat. Pellentesque aliquet arcu eget mattis commodo. Donec a eros eu dui fermentum auctor. In sed turpis sollicitudin, vestibulum elit non, fringilla massa. Donec porta, lacus in euismod consectetur, eros elit pharetra elit, id volutpat est arcu a ligula. Suspendisse ullamcorper gravida est, at viverra neque molestie at. Aliquam in nibh vitae quam efficitur mollis. Aliquam erat volutpat.
                
                Phasellus eu venenatis felis. Nulla facilisi. Suspendisse arcu massa, commodo id feugiat vitae, laoreet in magna. Cras lorem purus, mollis at efficitur at, mattis quis odio. Morbi tempus dui non sem faucibus ultricies. Vestibulum cursus facilisis tincidunt. Nam malesuada viverra odio, gravida gravida lorem tempus pulvinar. Morbi eu sapien eu mauris tristique rutrum. Cras suscipit magna tortor, congue aliquam sapien consectetur in. Phasellus sodales mattis ligula, sit amet sollicitudin lacus dapibus efficitur. Vestibulum fringilla, dui ac scelerisque consectetur, ligula tortor ornare mi, sed eleifend sem dolor bibendum libero. Donec iaculis libero nec odio porta, a aliquam sem malesuada. Donec turpis odio, consequat id iaculis in, ornare in metus.
                
                Vivamus eget lectus eu est aliquam iaculis non ac nisi. Praesent id libero nisl. Duis aliquet ante in tristique fringilla. Vivamus fringilla lectus id maximus suscipit. Fusce et convallis arcu. Mauris iaculis, massa id facilisis semper, risus risus molestie erat, at tempor leo dui eu erat. Proin a sodales dolor, nec malesuada sem. In auctor congue felis eu finibus. Aenean fringilla diam at odio interdum, nec malesuada ipsum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum metus erat, fringilla nec euismod vel, aliquam et est. Etiam auctor egestas quam, non pellentesque libero. Maecenas vitae nibh sit amet tortor euismod ullamcorper a quis velit.
        </div>
        <div class="col-sm-4">
            <img src="https://picsum.photos/900/500?random&t=0.6968567288380443" style="width: 200px; height: 200px;" align="right">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://picsum.photos/900/500?random&t=0.6968567288380443" style="width: 200px; height: 200px;">
        </div>
        <div class="col-sm-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices vel arcu convallis auctor. Maecenas sit amet lorem velit. Suspendisse ut metus euismod, vulputate ligula imperdiet, mollis neque. Praesent blandit, lectus sit amet varius eleifend, dolor quam rhoncus purus, sit amet auctor ipsum felis quis mi. Aliquam quam urna, maximus sit amet molestie sit amet, faucibus vel magna. Praesent non laoreet orci. Etiam aliquam vel ipsum eget elementum.

                Donec fringilla nunc turpis, vel suscipit augue rhoncus ut. Mauris interdum semper risus, sed tristique risus facilisis sodales. Fusce ut facilisis lacus. Cras laoreet posuere nulla, et efficitur felis maximus in. Morbi cursus metus lacus, vitae convallis nisi sodales eget. Nunc fermentum posuere nisl in maximus. Aenean consequat in elit eget sodales. Praesent ac aliquet urna. Praesent nec sagittis sapien, nec interdum nunc. Etiam ullamcorper mollis diam, in convallis leo blandit non.
                
                Vestibulum porta eros vel justo ultrices feugiat. Pellentesque aliquet arcu eget mattis commodo. Donec a eros eu dui fermentum auctor. In sed turpis sollicitudin, vestibulum elit non, fringilla massa. Donec porta, lacus in euismod consectetur, eros elit pharetra elit, id volutpat est arcu a ligula. Suspendisse ullamcorper gravida est, at viverra neque molestie at. Aliquam in nibh vitae quam efficitur mollis. Aliquam erat volutpat.
                
                Phasellus eu venenatis felis. Nulla facilisi. Suspendisse arcu massa, commodo id feugiat vitae, laoreet in magna. Cras lorem purus, mollis at efficitur at, mattis quis odio. Morbi tempus dui non sem faucibus ultricies. Vestibulum cursus facilisis tincidunt. Nam malesuada viverra odio, gravida gravida lorem tempus pulvinar. Morbi eu sapien eu mauris tristique rutrum. Cras suscipit magna tortor, congue aliquam sapien consectetur in. Phasellus sodales mattis ligula, sit amet sollicitudin lacus dapibus efficitur. Vestibulum fringilla, dui ac scelerisque consectetur, ligula tortor ornare mi, sed eleifend sem dolor bibendum libero. Donec iaculis libero nec odio porta, a aliquam sem malesuada. Donec turpis odio, consequat id iaculis in, ornare in metus.
                
                Vivamus eget lectus eu est aliquam iaculis non ac nisi. Praesent id libero nisl. Duis aliquet ante in tristique fringilla. Vivamus fringilla lectus id maximus suscipit. Fusce et convallis arcu. Mauris iaculis, massa id facilisis semper, risus risus molestie erat, at tempor leo dui eu erat. Proin a sodales dolor, nec malesuada sem. In auctor congue felis eu finibus. Aenean fringilla diam at odio interdum, nec malesuada ipsum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum metus erat, fringilla nec euismod vel, aliquam et est. Etiam auctor egestas quam, non pellentesque libero. Maecenas vitae nibh sit amet tortor euismod ullamcorper a quis velit.
        </div>
    </div>
    <br>
    <h2 class="text-primary text-center">Rank 01</h2>
    <div class="row">
       <div class="card col-sm-4" *ngFor="let desafio of rank1">
        <div class="card-header">
          {{desafio.nome}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
    <h2 class="text-info text-center " id="fanboy-shounen">rank 02</h2>
    <div class="row">
       <div class="card col-sm-4" *ngFor="let desafio of rank2">
        <div class="card-header">
          {{desafio.nome}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
    <h2 class="text-success text-center">Rank 3</h2>
     <div class="row">
       <div class="card col-sm-4" *ngFor="let desafio of rank3">
        <div class="card-header">
          {{desafio.nome}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
    <h2 class="text-warning text-center">Rank 4</h2>
     <div class="row">
       <div class="card col-sm-4" *ngFor="let desafio of rank4">
        <div class="card-header">
          {{desafio.nome}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
    <h2 class="text-danger text-center">Rank 5</h2>
     <div class="row">
       <div class="card col-sm-4" *ngFor="let desafio of rank5">
        <div class="card-header">
          {{desafio.nome}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
</div>